In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
movies = pd.read_csv('Datasets/movies.dat', 
                    sep="::", engine='python', encoding = "cp1251")
movies.head()

   1                    Toy Story (1995)   Animation|Children's|Comedy
0  2                      Jumanji (1995)  Adventure|Children's|Fantasy
1  3             Grumpier Old Men (1995)                Comedy|Romance
2  4            Waiting to Exhale (1995)                  Comedy|Drama
3  5  Father of the Bride Part II (1995)                        Comedy
4  6                         Heat (1995)         Action|Crime|Thriller

In [3]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_csv('datasets/movies.dat', 
                     sep="::", engine='python',
                     header = None, names=mnames, encoding = "cp1251")


movies.tail()

      movie_id                       title          genres
3878      3948     Meet the Parents (2000)          Comedy
3879      3949  Requiem for a Dream (2000)           Drama
3880      3950            Tigerland (2000)           Drama
3881      3951     Two Family House (2000)           Drama
3882      3952       Contender, The (2000)  Drama|Thriller

In [4]:
movies.genres.iloc[0]

"Animation|Children's|Comedy"

In [5]:
movies.genres.iloc[0].split('|')

['Animation', "Children's", 'Comedy']

In [6]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
genres = pd.unique(all_genres)
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [7]:
zero_matrix = np.zeros((len(movies), len(genres)))
dummies = pd.DataFrame(zero_matrix, columns=genres)
dummies.head()

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
list(zip(movies.index,movies.genres))[:5]

[(0, "Animation|Children's|Comedy"),
 (1, "Adventure|Children's|Fantasy"),
 (2, 'Comedy|Romance'),
 (3, 'Comedy|Drama'),
 (4, 'Comedy')]

In [9]:
list(enumerate(movies.genres))[:5]

[(0, "Animation|Children's|Comedy"),
 (1, "Adventure|Children's|Fantasy"),
 (2, 'Comedy|Romance'),
 (3, 'Comedy|Drama'),
 (4, 'Comedy')]

In [10]:
dummies.columns

Index(['Animation', 'Children's', 'Comedy', 'Adventure', 'Fantasy', 'Romance',
       'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'Sci-Fi',
       'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir', 'Western'],
      dtype='object')

In [11]:
dummies.columns.get_indexer("Adventure|Children's|Fantasy".split('|'))

array([3, 1, 4])

In [12]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1
dummies.head()

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.head()

,movie_id,title,genres,Genre_Animation,Genre_Children's,Genre_Comedy,Genre_Adventure,Genre_Fantasy,Genre_Romance,Genre_Drama,...,Genre_Crime,Genre_Thriller,Genre_Horror,Genre_Sci-Fi,Genre_Documentary,Genre_War,Genre_Musical,Genre_Mystery,Genre_Film-Noir,Genre_Western
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
movies_windic.sum()

movie_id                                                       7711830
title                Toy Story (1995)Jumanji (1995)Grumpier Old Men...
genres               Animation|Children's|ComedyAdventure|Children'...
Genre_Animation                                                  105.0
Genre_Children's                                                 251.0
Genre_Comedy                                                    1200.0
Genre_Adventure                                                  283.0
Genre_Fantasy                                                     68.0
Genre_Romance                                                    471.0
Genre_Drama                                                     1603.0
Genre_Action                                                     503.0
Genre_Crime                                                      211.0
Genre_Thriller                                                   492.0
Genre_Horror                                                     343.0
Genre_Sci-Fi                                                     276.0
Genre_Documentary                                                127.0
Genre_War                                                        143.0
Genre_Musical                                                    114.0
Genre_Mystery                                                    106.0
Genre_Film-Noir                                                   44.0
Genre_Western                                                     68.0
dtype: object

In [15]:
movies_windic.sum()

movie_id                                                       7711830
title                Toy Story (1995)Jumanji (1995)Grumpier Old Men...
genres               Animation|Children's|ComedyAdventure|Children'...
Genre_Animation                                                  105.0
Genre_Children's                                                 251.0
Genre_Comedy                                                    1200.0
Genre_Adventure                                                  283.0
Genre_Fantasy                                                     68.0
Genre_Romance                                                    471.0
Genre_Drama                                                     1603.0
Genre_Action                                                     503.0
Genre_Crime                                                      211.0
Genre_Thriller                                                   492.0
Genre_Horror                                                     343.0
Genre_Sci-Fi                                                     276.0
Genre_Documentary                                                127.0
Genre_War                                                        143.0
Genre_Musical                                                    114.0
Genre_Mystery                                                    106.0
Genre_Film-Noir                                                   44.0
Genre_Western                                                     68.0
dtype: object

In [16]:
indx=movies_windic.iloc[:,3:].sum(axis='columns').idxmax()
indx

1187

In [17]:
movies_windic.iloc[indx].title

'Transformers: The Movie, The (1986)'

In [18]:
movies_windic.iloc[indx].genres

"Action|Animation|Children's|Sci-Fi|Thriller|War"

In [22]:
movies_windic[movies_windic.iloc[:,3:].sum(axis=1)>=5]

,movie_id,title,genres,Genre_Animation,Genre_Children's,Genre_Comedy,Genre_Adventure,Genre_Fantasy,Genre_Romance,Genre_Drama,...,Genre_Crime,Genre_Thriller,Genre_Horror,Genre_Sci-Fi,Genre_Documentary,Genre_War,Genre_Musical,Genre_Mystery,Genre_Film-Noir,Genre_Western
69,70,From Dusk Till Dawn (1996),Action|Comedy|Crime|Horror|Thriller,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
255,258,"Kid in King Arthur's Court, A (1995)",Adventure|Children's|Comedy|Fantasy|Romance,0.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
554,558,"Pagemaster, The (1994)",Action|Adventure|Animation|Children's|Fantasy,1.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
606,610,Heavy Metal (1981),Action|Adventure|Animation|Horror|Sci-Fi,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
667,673,Space Jam (1996),Adventure|Animation|Children's|Comedy|Fantasy,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1178,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1187,1205,"Transformers: The Movie, The (1986)",Action|Animation|Children's|Sci-Fi|Thriller|War,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1192,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1197,1215,Army of Darkness (1993),Action|Adventure|Comedy|Horror|Sci-Fi,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1244,1264,Diva (1981),Action|Drama|Mystery|Romance|Thriller,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1526,1566,Hercules (1997),Adventure|Animation|Children's|Comedy|Musical,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1985,2054,"Honey, I Shrunk the Kids (1989)",Adventure|Children's|Comedy|Fantasy|Sci-Fi,0.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2011,2080,Lady and the Tramp (1955),Animation|Children's|Comedy|Musical|Romance,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2012,2081,"Little Mermaid, The (1989)",Animation|Children's|Comedy|Musical|Romance,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2253,2322,Soldier (1998),Action|Adventure|Sci-Fi|Thriller|War,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [20]:
movie_windic.iloc[:,3:]

NameError: name 'movie_windic' is not defined

In [ ]:
movies_windic['Genre_sum']= movies_windic.iloc[:,3:(3+len(genres))].sum(axis=1).astype(int)
movies_windic

In [ ]:
short_list = ['movie_id','title','genres','Genre_sum']
movies_windic[short_list]

In [ ]:
movies_windic[movies_windic['Genre_sum']>=5][short_list]